<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">

    <title>App</title>
</head>

<body>

    <!-- LEFT SIDE -->
    <div class="split left">
        <div class="centered">
            <img src="{{ url_for('static', filename='products/image.png') }}" alt="camera" class="img-fluid">
        </div>
    </div>

    <!-- RIGHT SIDE -->
    <div class="split right">
        <div class="container mt-5 mb-5">
            <div class="d-flex justify-content-center row">
                <div class="d-flex flex-column col-md-8">

                    <label class="text-black">Positive Reviews: {{ data.positive }}</label>
                    <label class="text-black">Negative Reviews: {{ data.negative }}</label>

                    <form  method="post">
                        <textarea class="form-control" name="review" rows="5" placeholder="Write your review here..."></textarea>
                        <button type="submit" class="btn btn-primary mt-2">Submit</button>
                    </form>

                </div>

                <!-- Reviews Section -->
                <div class="comment-bottom big-white p-2">
                    {% for review in data.reviews %}
                        <hr/>
                        <div class="commented-section mt-2">
                            <div class="text-nowrap">
                                <span>{{ review }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

</body>
</html>